.burble{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.burble h3{
    margin-top: 40px;
    margin-bottom: -40px;
    color: white;
}
.container{
    display: flex;
    background-image: url('../../assets/entrada-chaco.jpeg');
    background-size: cover;
    height: 250px;
    width: 670px;
    position: relative;
    border-radius: 15px;
    margin-top: 50px;
}
.container .container-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 170px;
    top: 150px;
    font-size: 0.8rem;
    text-align: center;
    font-weight: 600;
}

.container .container-text .enter1{
    margin-top: -10px;
    margin-bottom: 20px;
}
.container .container-text .enter2{
    margin-bottom: 20px;
}
.container .container-text .fecha{
    margin-top: 6px;
    font-size: 0.6rem;
    margin-bottom: 50px;
}
.burble .btn-download{
    margin-top: 15px;
    padding: 7px 0px;
    border-radius: 10px;
    border: none;
}
.burble .btn-download:hover{
    background-color: rgb(147, 147, 241);
}
.burble .btn-descarga{
    width: 670px;
    margin-top: 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 3px;
    background-color: #8785C1;
    color: rgb(54, 52, 52);
}
.burble .btn-descarga:hover{
    background-color: #6f06f8;
    cursor: pointer;
    color: white;
    border: 1px solid black;
}